h3{
    font: 25px Raleway, sans-serif !important;
    color: #eca549 !important;
}

h1{
    color: #505A61;
    font: 52px Raleway,sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 3px;
}

p{
    color: #808B90;
    font: 14px Raleway,sans-serif;
    line-height: inherit;
    margin-top: 22px;
}

.info-box{
    border-radius: 7px;
    background-color: #94B0C7;
    color: #fff;
    padding: 10px 0 7px 0;
}






















